@use "@colors" as colors;
@use "@fonts" as fonts;

.component{
    background: gray;
    padding: 80px 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    padding: 44px 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}

.title{
    @include fonts.header-2;
    color: colors.$brown-600;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom:32px;
}

.button{
    @include fonts.paragraph-bold;
    background-color: colors.$yellow-200;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    padding: 16px 24px;
}

.button-text{
    @include fonts.paragraph-bold;
    color: colors.$brown-600;
    text-decoration: none;
}