@use "@colors" as colors;
@use "@fonts" as fonts;
@import "@breakpoints";

.component {
  background-color: gray;
  padding: 80px;
}

.content {
  display: flex;
  justify-content: center;
}

.banner {
  background-color: colors.$semitransparent;
  padding: 44px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  @include breakpoint (tablet){
    gap:24px;
  }
  @include breakpoint (mobile){
    padding: 36px 24px;
    gap: 20px;
  }
}

.title {
  @include fonts.header-3;
  color: colors.$brown-600;
  text-align: center;
}
