@use "@colors" as colors;
@use "@fonts" as fonts;

.component {
  display: flex;
}

.new-comp {
  background-color: gray;
  display: flex;
  padding: 80px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding: 44px 80px;
  background-color: colors.$semitransparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  gap: 32px;
}

.title {
  @include fonts.header-3;
  color: colors.$brown-600;
}

.button {
  background-color: colors.$yellow-200;
  display: flex;
  width: fit-content;
  border-radius: 8px;
}

.button-text {
  @include fonts.paragraph-bold;
  color: colors.$brown-600;
  text-decoration: none;
  display: flex;
  width: fit-content;
  padding: 20px 32px;
}
