@use "@colors" as colors;
@use "@fonts" as fonts;
@import "@breakpoints";

.component {
  background-color: gray;
  padding: 200px 0px;
  @include breakpoint (tablet){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.container {
  background-color: colors.$white;
  padding: 54px 80px;
  border-radius: 40px;
  width: 100%;
  max-width: 730px;
  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px 36px;
    max-width: 450px;
  }
  @include breakpoint(mobile) {
    gap: 36px 32px;
    max-width: 304px;

  }
}

.title {
  @include fonts.header-1;
  color: colors.$brown-600;
  margin-bottom: 24px;
  @include breakpoint(tablet){
    text-align: center;
  }
  @include breakpoint(mobile){
    text-align: center;
  }
}

.subtitle {
  @include fonts.header-3;
  color: colors.$gray-300;
  margin-bottom: 40px;
  @include breakpoint(tablet){
    text-align:center;
  }
}

.button {
  display: flex;
  @include breakpoint(tablet){
    justify-content:center;
  }
}
