@use "@colors" as colors;
@use "@fonts" as fonts;

.component{
    background: colors.$brown-100;
}
.title{
    @include fonts.header-2;
    color: colors.$brown-600;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 56px;
}

.container{
    gap: 48px;
    margin-bottom: 120px;
    margin-left: 32px;
    margin-right: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

// .circle {
//     position: absolute;
//     top: 10px; /* Adjust the top position as needed */
//     left: 10px; /* Adjust the left position as needed */
//     width: 30px; /* Adjust the width of the circle */
//     height: 30px; /* Adjust the height of the circle */
//     border-radius: 50%;
//     background: #e0e0e0;
//     text-align: center;
//     line-height: 30px;
//     font-weight: bold;
//   }

.sub-container-left{
    flex-direction: column;
}

.sub-container-right{
    flex-direction:column;
}

.rectangle{
    width: 548px;
    background: colors.$white;
    border: 1px dotted colors.$brown-400;
}

.text-box{
    flex-direction:column;
}

.sub-title{
    @include fonts.header-4;
    color: colors.$brown-600;
}
