@use "@colors" as colors;
@use "@fonts" as fonts;

.subtitle{
    @include fonts.header-4;
    color: colors.$brown-600;
    margin-top: 16px;
}

.title{
    @include fonts.header-2;
    color: colors.$brown-600;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
}

.description{
    @include fonts.paragraph;
    color: colors.$gray-300;
    margin-top: 8px;
}

.rectangle{
    width: 100%;
    height: 240px;
    background: #e0e0e0;    
  }

.subContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}