@use "@colors" as colors;
@use "@fonts" as fonts;
@import "@breakpoints";

.component {
  background-color: colors.$white;
  padding: 120px 0;

  @include breakpoint(mobile) {
    padding: 80px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

  @include breakpoint(tablet) {
    gap: 48px;
  }

  @include breakpoint(mobile) {
    gap: 40px;
  }
}

.title {
  @include fonts.header-2;
  color: colors.$brown-600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;

  @include breakpoint(tablet) {
    display: flex;
    flex-direction: column;
  }

  @include breakpoint(mobile) {
    gap: 32px;
  }
}

.service {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-title {
  @include fonts.header-4;
  color: colors.$brown-600;
}

.description {
  @include fonts.paragraph;
  color: colors.$gray-300;
}
