@use "@colors" as colors;
@use "@fonts" as fonts;

.component {
  background-color: colors.$white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  padding: 108px 120px;
}

.image {
  width: 100%;
  height: 100%;
  background: gray;
}

.title {
  @include fonts.header-2;
  color: colors.$brown-600;
  margin-bottom: 24px;
}

.description {
  @include fonts.paragraph;
  color: colors.$gray-300;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 56px;
}

.button {
  display: flex;
}
