@use "@colors" as colors;
@use "@fonts" as fonts;

.componenttemp{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.container{
    gap: 56px;
    margin-bottom: 108px;
    margin-top: 108px;
    margin-left: 120px;
    margin-right: 120px;
}

.image{
    width: 100%;
    height: 100%;
    background: #e0e0e0;    
}

.text-box{
    margin-bottom:56px;
}

.title{
    @include fonts.header-2;
    color: colors.$brown-600;
    display: grid;
    align-items: left;
    justify-content: left;
    margin-bottom: 32px;
}


.description{
    @include fonts.paragraph;
    color: colors.$gray-300;
    gap: 8px;
    text-align: left;
}

.button{
    width: 279px;
    height: 60px;
    background:colors.$yellow-200;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    @include fonts.paragraph-bold;
}

