$breakpoints: (
  mobile: 768px,
  tablet: 1120px,
  small-desktop: 1440px,
);

@function bp-val($name) {
  @if type-of($name) == "number" {
    @return $name;
  }

  $val: map-get($breakpoints, $name);

  @if $val == null {
    @error 'Breakpoint #{$name} not found';
  }

  @return $val;
}

@mixin breakpoint($name) {
  $val: bp-val($name);

  @media (max-width: $val) {
    @content;
  }
}
