$white: #fdfdfd;
$transparent: #00000000;
$semitransparent: #fdfdfdd9;

$brown-100: #fff6f0;
$brown-200: #f0d9ca;
$brown-300: #a48978;
$brown-300-hover: #927a6b;
$brown-300-active: #806b5e;
$brown-400: #6c472d;
$brown-500: #46251e;
$brown-600: #2b1309;

$gray-100: #f6f6f6;
$gray-200: #6e6d74;
$gray-300: #3e3d42;
$gray-400: #191219;

$yellow-100: #ffe569;
$yellow-200: #fbb41c;
$yellow-200-hover: #e9a71a;
$yellow-200-active: #d79a18;
$yellow-300: #cc9b32;
