@use "@colors" as colors;
@use "@fonts" as fonts;
@import "@breakpoints";

.component {
  padding: 120px 0;
  background-color: colors.$white;

  @include breakpoint(mobile) {
    padding: 80px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  @include breakpoint(tablet) {
    gap: 48px;
  }
}

.description {
  @include fonts.paragraph;
  color: colors.$gray-300;
  width: 100%;
  max-width: 960px;

  a {
    color: inherit;
  }

  @include breakpoint(small-desktop) {
    max-width: 830px;
  }
}

.calendly-embed {
  width: 100%;
  height: 720px;

  @include breakpoint(tablet) {
    height: 1000px;
  }
}
