@use "@colors" as colors;
@use "@fonts" as fonts;
@import "@breakpoints";

.component {
  background-color: colors.$brown-500;
  padding: 40px 0;
}

.content {
  display: flex;
  justify-content: space-between;

  @include breakpoint(tablet) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include breakpoint(tablet) {
    align-items: center;
  }
}

.right {
  text-align: right;

  .row-link-container {
    justify-content: flex-end;
  }

  @include breakpoint(tablet) {
    text-align: center;
  }
}

.row,
.row-link {
  @include fonts.paragraph;
  color: colors.$white;
}

.row-link {
  text-decoration: none;
}

.row-link-container {
  display: flex;

  a {
    position: relative;
  }

  a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    margin-top: 26px;
    background-color: colors.$white;
    transition: 0.4s width;
  }

  a:hover::before {
    width: 100%;
  }
}

.social-media-links {
  display: flex;
  justify-content: flex-end;
  gap: 24px;

  @include breakpoint(tablet) {
    justify-content: center;
  }
}

.social-media-link {
  background-color: colors.$brown-300;
  color: colors.$white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s background-color;

  &:hover {
    background-color: colors.$brown-300-hover;
  }

  &:active {
    background-color: colors.$brown-300-active;
  }
}
