@use "@colors" as colors;
@use "@fonts" as fonts;
@import "@breakpoints";

.component {
  background-color: colors.$white;
  padding: 120px 0;

  @include breakpoint(mobile) {
    padding: 80px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  @include breakpoint(tablet) {
    gap: 48px;
  }

  @include breakpoint(mobile) {
    gap: 40px;
  }
}

.title {
  @include fonts.header-2;
  color: colors.$brown-600;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;

  @include breakpoint(small-desktop) {
    gap: 40px;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(mobile) {
    gap: 16px;
  }
}

.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

.lightbox-background {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-image {
  max-width: 100%;
  max-height: 100%;
}
